*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

 body{
    font-family: 'Black Ops One', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
 } 

 #menu{
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
    color: black;
 }

 #menu ul li , a{
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 10px;

}
 a:hover{
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}

#area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 900px;
    height: 500px;
    margin: 0px auto 30px;
    box-shadow: 5px 5px black;
    
    

}

#h{
 margin-bottom: 100px;  
}

.texlog{
    margin-bottom: 50px;
}

.texlog2{
    margin-bottom: 150px;
}
 
#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(98, 0, 255);
    padding: 20px;
    gap: 30px;
    width: 400px;
    height: 500px;
    color: black;
}

#titulo{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.877);
    
}

#mail{
    width: 320px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

#senha{
    width: 320px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}


#entrar{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid black;
}

#entrar:hover{
    background-color: rgba(0, 217, 255, 0.801);
    color: white;

    
}

#esqueceu{
    color: white;
    font-size: 16px;
}

#lembrar{
    color:white;
}

#cad{
    color: white;
}

#erroE{
    color: white;
    font-size: 14px;
}

#erroS{
    color:white;
    font-size: 12px;
}



