*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

 body{
    font-family: 'Black Ops One', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image:url(./imagem-de-fundo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
 } 

 #menu{
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
 }

 #menu ul li , a{
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 10px;

}
 a:hover{
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}



#login{
    text-align: center;
    color: white;
    margin-top: 15px;
}
 
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgb(0, 183, 255),rgb(0, 128, 6));
    padding: 12px;
    gap: 5px;
    width: 400px;
    height: 400px;
    margin: 30px auto;
    border-radius: 18px;
    box-shadow: 5px 10px 2px black;
}

#mail{
    width: 320px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
    
    
    
}

#mail:hover{
   
   
}


#senha{
    width: 320px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
    
    
}



#senha:hover{
    
 }

#entrar{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    
}

#entrar:hover{
    background-color: rgba(0, 0, 255, 0.801);
    color: white;
    
}

#esqueceu{
    color: black;
    font-size: 16px;
}

#lembrar{
    color: white;
}

#cad{
    color: white;
    
}

#linkcad{
    color: black;
    list-style: none;
}


#erroE{
    color: white;
    font-size: 14px;
}

#erroS{
    color:white;
    font-size: 12px;
}

footer{
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
