*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    color: #ffff;
    font-family: 'Black Ops One', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
    
   }

#navegação {
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    
    
   }


#separar1 {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;
    position: absolute;
    z-index: -1;
    bottom: 430px;
    text-align: center;
    
}

#separar2{
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 520px;
    
}




#Home , a {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:black;
    gap: 10px
   

}

#compra{
    background-color: black;
    color: white;
    padding: 4px;
    width: 28px;
    border-radius: 80px;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    left: 70px;
}



.icones{
  margin: 0px 10px;  
}


#carrinho{
  margin-right: 60px;
}

.icones:hover{
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
}




#loja h1 {
    margin-left: 10px;
    color: black;

}

#aba{
    display: flex;
    flex-direction: column;
    float: right;
    background-color: black;
    padding: 8px;
    width: 250px;
    height: auto;
    text-align: center;
    gap: 6px;
    margin-bottom: 100px;
    position: relative;
    bottom: 130px;
    z-index: 1;
   
}


.abas{
    background-color: white;
    margin-top: 5px;
    padding: 5px;
    border-radius: 35px;
    color: black;
}


.abas:hover{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: grey;
    padding: 5px;
}


section{
    display: flex;
    padding: 10px;
    gap: 60px;
    height: 410px;
    margin-top: 110px;
    position: absolute;
    
}





.tênis{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 380px;
    margin-bottom: 30px;
    align-items: center;
    color: black;
    background-color: rgba(128, 128, 128, 0.411);
    
    
    
}

#camisas{
    display: flex;
    padding: 10px;
    gap: 60px;
    height: 410px;
    position: relative;
    bottom: 80px;
}

.camisas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 380px;
    margin-bottom: 30px;
    align-items: center;
    color: black;
    background-color: rgba(128, 128, 128, 0.411);
    
}

button{
    display: block;
    padding: 6px;
    width: 150px;
    background-color: rgb(0, 255, 136);
    margin-top: 10px;
    border: 2px solid black;
    
    
    
}


@media only screen and (max-width: 600px) {
h2{
    visibility: hidden;
}


}    