*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   body {

    color: #ffff;
    font-family: 'Black Ops One', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(59, 235, 182, 0.644);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
    
   
    
   }

   #loja {
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 100%;

   }

#Home , a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:white;
    gap: 10px


}



.icones{
    padding: 0px;
    margin: 10px;
    
    
}
.icones:hover{
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
}




#loja h1 {
    margin-left: 10px;

}

#aba{
    display: flex;
    flex-direction: column;
    float: right;
    background-color: black;
    padding: 8px;
    width: 250px;
    height: auto;
    text-align: center;
    gap: 6px;
    
   
}


.abas{
    background-color: white;
    margin-top: 5px;
    padding: 5px;
    border-radius: 35px;
    color: black;
}


.abas:hover{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: grey;
    padding: 5px;
}


section{
    display: flex;
    padding: 10px;
    gap: 60px;
    height: auto;
    margin-top: 30px;
   
      
}

.produto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: auto;
    align-items: center;
    padding: 3px;
}

.produto2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: auto;
    align-items: center;
    padding: 3px;
}

.produto3{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: space-between;
    width: auto;
    align-items: center;
    padding: 3px;
}

.produto4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    align-items: center;
    color: black;
    padding: 3px;
}

button{
    display: block;
    padding: 6px;
    width: 150px;
    background-color: rgb(0, 255, 136);
    margin-top: 10px;
    
}


@media only screen and (max-width: 600px) {
h2{
    visibility: hidden;
}


}    