*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   body {

    color: #ffff;
    font-family: 'Black Ops One', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image: url(./asset-loja/imagem-de-fundo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
    
   
    
   }

   #loja {
    
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 100%;

   }

#Home , a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: white;
    


}



.icones{
    padding: 0px;
    margin: 10px;
    
}
.icones:hover{
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
}


#loja{
    
    
}

#loja h1 {
    margin-left: 10px;

}
